<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>296439726468-7esccldfp9bdlkr9jtupec6rt8t8f0li.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.296439726468-7esccldfp9bdlkr9jtupec6rt8t8f0li</string>
	<key>API_KEY</key>
	<string>AIzaSyDZHNFctca0m2rxNk_-F0zcHNwfcVj4soY</string>
	<key>GCM_SENDER_ID</key>
	<string>296439726468</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sophiazhu.pp.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chapapp-660ad</string>
	<key>STORAGE_BUCKET</key>
	<string>chapapp-660ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:296439726468:ios:d8d40c28b5969377cc5dd1</string>
</dict>
</plist>